body {
  background-color: rgb(243, 181, 12);
  margin: 0;
  padding: 0;

}

#wrap {
    background-color: cornsilk;
    margin: 190px auto ;
    width: 800px;
    padding: 0px 25px 0px 25px;
    border: 5px solid rgb(10, 14, 10);
    border-style: dotted;


}
ul {
    font-size: 1.25em;
    text-align: center;
    list-style:none;
}
li::first-letter {
    font-size: 150%;
    color: rgb(16, 8, 24);
}

h1 {
    text-align: center;
    padding: 0;
    margin:5px;
    
}

p {
    text-align:center;
    font-size:1em;
  
}
p .copyright {
  font-size: 0.75px;
  padding: 0;
  margin: 0;
}

